/****************************************
BASE
****************************************/
html {
  box-sizing: border-box; }

* {
  box-sizing: border-box; }

body {
  line-height: 1.5;
  font-size: 1em;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; }

h1 {
  font-size: 4.236rem; }

h2 {
  font-size: 2.618rem; }

h3 {
  font-size: 1.618rem; }

p {
  font-size: 1rem; }

a {
  text-decoration: none; }

/****************************************
LAYOUT
****************************************/
header,
ul,
section,
.filters {
  display: flex; }

header {
  align-items: center;
  justify-content: space-around; }

section,
header {
  position: fixed;
  width: 100%; }

main {
  padding-top: 3rem; }

section,
.filters {
  flex-direction: column;
  align-items: center;
  justify-content: space-around; }

section {
  top: 3rem; }

ul {
  flex-wrap: wrap; }

/****************************************
COLORS
****************************************/
/****************************************
HEADER
****************************************/
header {
  background: #144d14;
  padding-left: .5rem;
  height: 3rem; }

.logo,
.filter-menu {
  font-size: 1.618em;
  color: #fff; }

.filter-menu:hover {
  cursor: pointer; }

/****************************************
IMAGES
****************************************/
.photo-card {
  background: rgba(255, 255, 255, 0.7);
  width: 100%;
  padding: 1rem;
  margin: 0 0 1rem 0; }

img {
  width: 100%; }

/****************************************
ARTICLE
****************************************/
article {
  background: #c7f08f; }
  article h1 {
    font-size: 2.3rem;
    text-align: center;
    color: black; }

/****************************************
SECTION
****************************************/
section {
  height: 0;
  overflow: hidden;
  transition: all 500ms ease-out;
  background: #eee; }
  section.open {
    min-height: 15rem;
    overflow: auto;
    z-index: 10;
    padding: .5rem; }

.filter {
  background: #8dd411;
  color: #fff;
  font-size: 1.3rem;
  padding: 0.5rem 1rem;
  width: 15rem;
  text-align: center;
  margin-top: .5rem; }
  .filter.applied {
    display: none; }
