/****************************************
BASE
****************************************/
html {
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  font-size: 1em;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 4.236rem;
}

h2 {
  font-size: 2.618rem;
}

h3 {
  font-size: 1.618rem;
}

p {
  font-size: 1rem;
}

a {
  text-decoration: none;
}

.ibm {
  font-weight: bold;
}

.subtext {
  font-size: .83rem;
  color: #777;
}

/****************************************
LAYOUT
****************************************/

header,
.photos,
section,
.filters {
  display: flex;
}

header {
  align-items: center;
  justify-content: space-between;
}

section,
header {
  position: fixed;
  width: 100%;
}

main {
  padding-top: 3rem;
}

section,
.filters {
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

section {
  top: 3rem;
}

.photos {
  flex-wrap: wrap;
  justify-content: space-around;
}

@media screen and (min-width: 800px) {
  main {
    display: flex;
  }

  article {
    width: 70%;
    height: 93vh;
    overflow: auto;
  }

  section {
    position: static;
    width: 30%;
    justify-content: start;
  }

  header {
    justify-content: start;
  }
}

/****************************************
COLORS
****************************************/

$primary-color: hsl(82, 85%, 45%);
$darkest-primary: hsl(90, 100%, 0%);
$dark-primary: hsl(120, 59%, 19%);
$lightest-primary: hsl(85, 76%, 75%);


/****************************************
HEADER
****************************************/

header {
  background: $dark-primary;
  height: 3rem;
}

.logo,
.filter-menu {
  font-size: 1.618em;
  color: #fff;
  margin: 0 2rem;
  text-shadow: 0 2px 2px $darkest-primary;
}

.filter-menu:hover {
  cursor: pointer;
}

@media screen and (min-width: 800px) {
  .filter-menu {
    display: none;
  }
}


/****************************************
IMAGES
****************************************/

img {
  width: 100%;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.photo-card {
  width: 100%;
  margin: 0 0 1rem 0;
}

@media screen and (min-width: 500px) {
  img {
    border: 3px solid black;
  }

  .photo-card {
    width: 15rem;
  }
}

@media screen and (min-width: 700px) {
  .photo-card {
    width: 20rem;
  }
}

@media screen and (min-width: 700px) {
  .photo-card {
    width: 15rem;
  }
}




/****************************************
ARTICLE
****************************************/

article {
  background: radial-gradient(circle at top, #fff 25%, $lightest-primary);
  h1 {
    margin: .5rem 0;
    font-size: 2.3rem;
    text-align: center;
    color: #222;
  }
}

/****************************************
SECTION
****************************************/

section {
  height: 0;
  overflow: hidden;
  transition: all 500ms ease-out;
  background: hsla(0, 0%, 93%, .9);
  &.open {
    min-height: 15rem;
    overflow: auto;
    z-index: 10;
    padding: .5rem;
  }
}

.filters {
  margin-bottom: .5rem;
  &.available {
    margin-top: .3rem;
  }
}

.filter {
  background: $primary-color;
  color: #fff;
  text-shadow: 0 1px 1px #333;
  font-size: 1.3rem;
  padding: .5rem 1rem;
  width: 15rem;
  text-align: center;
  margin-top: .5rem;
  &:hover {
    background: $dark-primary;
  }
  &.applied {
    display: none;
  }
}

@media screen and (min-width: 800px) {
  section {
    height: 93vh;
    border-left: 1px solid #ccc;
  }
}

/****************************************
FILTERS
****************************************/

.photos {
  &.reverse {
    flex-wrap: wrap-reverse;
  }
  &.odd {
    .photo-card:nth-child(even) {
      display: none;
    }
  }
  &.even {
    .photo-card:nth-child(odd) {
      display: none;
    }
  }
}




